    
<h1>실시간 근황이 궁금하세요?</h1>
<p class="lead">실시간으로 이슈되거나 SNS상의 궁금한것이있으면 검색해보세요<br> Twitter,facebook,youtube,flicker 등 다양하게 가져옵니다</p>
<!--<div (click)="myAction()">{{message}}</div>-->

    <!--<button class="waves-effect waves-light btn" (click)="makecall()">author</button>-->
    <div class="row">
        <div class="col-md-8">
         <input id="hashtags" class="form-control" placeholder="#태그를 이용해 검색해주세요" type="text" [(ngModel)]="searchquery" [ngModelOptions]="{standalone: true}" (keyup.enter)="searchcall()">
         </div>
         <div class="col-md-4">
          <button class="btn btn-default" (click)="searchcall()">Search</button>
         </div>
     </div>
    <div id ="test" class="row">
        <p></p>
        <div id="card" *ngFor="let res of data[0]"  class="col-md-3 col-sm-4 col" style="position:relative; cursor:pointer;" (click)="myAction(res)">                   
                
                <div id="youtube" *ngIf="res.kind != undifined" >
                       <div class="youtubecard">
                           <div class="card-image" style="float:right">
                                <img style={width:10px,height:10px;} src="app/source/youtube.png">
                          </div>
                        <div class="youtubetop">
                             <img style="max-width: 100%; height: 150px;" src={{res.snippet.thumbnails.medium.url}}>
                        </div>
                        <div class="youtubetext">
                            
                            <p>{{res.snippet.title}}</p>
                        </div>
                    </div> 
                </div>
                <div *ngIf="res.kind == undifined">
                    <div id="card" class="card" style="width:100%;">            
                          <div class="card-image" style="float:right">
                                <img style={width:10px,height:10px;} src="app/source/twitter.png">
                          </div>
                           <div class="card-image">
                                <img style={width:10px,height:10px;} src={{res.user.profile_image_url}}>
                          </div>
                            <div class="right-content">
                                <span class="card-title">{{res.user.name}}</span>
                                    <div class="card-content">         
                                        <div class="content-image">                             
                                            <div *ngIf = "res.entities.media != Object">
                                                <img src={{res.entities.media[0].media_url}}:thumb>
                                            </div>
                                        </div>
                                            <div *ngIf = "res.entities.media == Object">
                                                <p>{{res.text}}</p>
                                            </div>
                                    </div>
                        
                            </div>
                    </div>
                </div>
             </div>
    </div>
  <div id ="test2" class="fancybox-overlay fancybox-overlay-fixed">
        <div class="fancybox-wrap fancybox-desktop fancybox-type-html fancybox-opened" tabindex="-1" style="width: auto; height: auto; position: absolute; top: 20%; left: 35%; right: 15%; opacity: 1; overflow: visible;">
                <div class="fancybox-skin" style="padding: 5px; width: 50%; height: auto;">
                            <div class="fancybox-outer">
                                    <div class="fancybox-inner" style="overflow: hidden; width: 100%; height: auto; cursor: pointer;">
                                            <div class="detail_content">
                                                <div class="profile_img">
                                                    <a id ="moreinfo" href="#" target="_blank" class="author_link" title="사용자에게가기">
                                                        <img id ="user_profile" src="">
                                                        <span id="user_name" class="auth_name"> </span>
                                                    </a>
                                                </div>
                                                <div id="user_time" class="user_time">usertime</div>
                                                <iframe id="player" style="display:none;" width="430" height="241" src=""></iframe>
                                              <img id="content_image" src = "" style="" class="imagesizes">
                                              
                                                    <div id="content" class="content"> content
                                                     </div>
                                                <a id="targetlink" target="_blank" href="#">https </a>
                                                <div class="post_link">
                                                    <a id ="post_link" href="#" title="새창" target="_blank">원문보기[새창]</a>
                                                </div>
                                            </div>
                                     </div>
                            </div>
                        <a title="Close" (click)="Close()" class="fancybox-item fancybox-close" href="javascript:;"></a>
                </div>
        </div>
</div>
                                              